.container {
    padding: 0;
    background-color: rgb(53, 52, 52);
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    align-items: center;
    color: aliceblue;
}